@use 'config' as c;
@use 'global';
@use 'art01';
@use 'art02';
@use 'art03';
@use 'moduloBoton02';
@use 'moduloBoton01';

header{
    background-image: url('../img/panaderia-pasteleria-aginaga-1500.avif');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    @media only screen and (min-width:c.$tablet){
        background-image: url('../img/panaderia-pasteleria-aginaga-1800.avif');
    }

    @media only screen and (min-width:c.$desktop){
        background-image: url('../img/panaderia-pasteleria-aginaga-2560.avif');
    }
   
}




