* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DMSerif";
  src: url("../Fonts/DMSerifText-Regular.ttf");
}
@font-face {
  font-family: "Spectral";
  src: url("../Fonts/Spectral-Regular.ttf");
}
h1, h2, h3 {
  font-family: "DMSerif";
}

h1 {
  font-size: 4rem;
  color: white;
  letter-spacing: 10px;
}

h2 {
  color: #717171;
  font-size: 4rem;
  letter-spacing: 2px;
}

h3 {
  color: #d92222;
  font-size: 2rem;
  letter-spacing: 2px;
}

p {
  font-family: "Spectral";
  color: rgb(29, 29, 29);
  font-size: 1.3rem;
}

a {
  font-family: "Spectral";
  text-decoration: none;
}

.h2Especial {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media only screen and (min-width: 1200px) {
  .h2Especial {
    width: 80%;
    padding: initial;
  }
}
.h2Especial span {
  width: 60px;
  height: 2px;
  background-color: #d92222;
}
.h2Especial h2 {
  color: #d92222;
  font-family: "Spectral";
  font-size: 1.3rem;
}

.boton {
  padding: 0.7rem 4rem;
  color: white;
  background-color: #d92222;
  border-radius: 5px;
  letter-spacing: 3px;
  font-weight: 600;
  border: 1px solid white;
  transition: 0.3s;
}
.boton:hover {
  background-color: white;
  color: #d92222;
  border-color: #d92222;
}
.boton:active {
  transform: scale(0.95);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header, nav, main, footer, section {
  width: 100%;
  max-width: 2560px;
}

section {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
@media only screen and (min-width: 800px) {
  section {
    padding: 4rem 0;
    row-gap: 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  section {
    padding: 6rem 0;
    row-gap: 4rem;
  }
}

nav {
  padding: 3.3rem 1rem 0.5rem 1rem;
  background-color: rgb(29, 29, 29);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1rem;
}
@media only screen and (min-width: 800px) {
  nav {
    padding: 0.5rem 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
nav > img {
  width: 100px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  filter: invert(1);
}
@media only screen and (min-width: 800px) {
  nav > img {
    position: initial;
  }
}
nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
nav > ul a {
  color: white;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}
nav .idiomas {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
@media only screen and (min-width: 800px) {
  nav .idiomas {
    position: initial;
  }
}

header {
  width: 100%;
  height: 100dvh;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
header > :nth-child(2) {
  width: 100%;
  height: 300px;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(1);
}
@media only screen and (min-width: 800px) {
  header > :nth-child(2) {
    width: 500px;
  }
}
header > :nth-child(2):hover img {
  transform: scale(1.2);
  transition: 2s;
}
header > :nth-child(2) img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 1s;
}

footer {
  padding: 4rem 1.5rem;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
@media only screen and (min-width: 800px) {
  footer {
    padding: 6rem 1.5rem;
    row-gap: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  footer {
    padding: 6rem 0;
  }
}
footer > :nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}
@media only screen and (min-width: 800px) {
  footer > :nth-child(1) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  footer > :nth-child(1) {
    width: 80%;
  }
}
footer > :nth-child(1) .cajaInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.5rem;
}
footer > :nth-child(1) .cajaInfo ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: flex-start;
  row-gap: 0.8rem;
}
footer > :nth-child(1) .cajaInfo img {
  filter: invert(1);
}
footer > :nth-child(1) .cajaInfo .rrss {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
@media only screen and (min-width: 1200px) {
  footer > :nth-child(1) > :nth-child(1) {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  footer > :nth-child(1) > :nth-child(3) {
    align-items: flex-end;
  }
}
footer > :nth-child(1) > :nth-child(3) ul a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
footer > :nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.5rem;
}
@media only screen and (min-width: 800px) {
  footer > :nth-child(2) {
    width: 60%;
    max-width: 1000px;
    min-width: 600px;
  }
}
footer > :nth-child(2) > img {
  filter: invert(1);
}
footer > :nth-child(2) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
}
footer a, footer p {
  color: white;
}
footer ul {
  list-style: none;
}

.art01 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
}
@media only screen and (min-width: 800px) {
  .art01 {
    row-gap: 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .art01 {
    width: 80%;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
.art01 > img {
  width: 100%;
  max-height: 40dvh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media only screen and (min-width: 800px) {
  .art01 > img {
    max-height: 50dvh;
  }
}
@media only screen and (min-width: 1200px) {
  .art01 > img {
    width: 50%;
    max-height: initial;
  }
}
.art01 > div {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.5rem;
}
@media only screen and (min-width: 800px) {
  .art01 > div {
    width: 60%;
    min-width: 700px;
  }
}
@media only screen and (min-width: 1200px) {
  .art01 > div {
    width: 50%;
    min-width: initial;
  }
}
.art01 > div h3 {
  text-align: center;
}

.art03 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
  padding: 0 1.5rem;
}
@media only screen and (min-width: 800px) {
  .art03 {
    padding: 0rem 0rem;
  }
}
@media only screen and (min-width: 1200px) {
  .art03 {
    width: 80%;
  }
}
.art03 h3 {
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  .art03 h3 {
    width: 80%;
  }
}
.art03 p {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .art03 p {
    width: 80%;
  }
}
.art03 img {
  width: 100%;
  height: 80dvw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media only screen and (min-width: 800px) {
  .art03 img {
    width: 80%;
    height: 30dvh;
  }
}

.sect01 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.5rem;
}
@media only screen and (min-width: 800px) {
  .sect01 {
    row-gap: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .sect01 {
    row-gap: 2rem;
  }
}
.sect01 h2 {
  width: 100%;
  text-align: left;
}
@media only screen and (min-width: 1200px) {
  .sect01 h2 {
    width: 80%;
  }
}
.sect01 article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2rem;
}
@media only screen and (min-width: 800px) {
  .sect01 article {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .sect01 article {
    width: 80%;
  }
}
.sect01 article > :nth-child(1) {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2rem;
}
@media only screen and (min-width: 800px) {
  .sect01 article > :nth-child(1) {
    width: 48%;
  }
}
@media only screen and (min-width: 1200px) {
  .sect01 article > :nth-child(1) {
    padding: initial;
  }
}
.sect01 article > :nth-child(1) h3 {
  color: rgb(29, 29, 29);
  font-size: clamp(1.2rem, 5vm, 4rem);
  font-weight: 600;
  font-family: "Spectral";
}
.sect01 article > :nth-child(1) p {
  color: #717171;
}
.sect01 article > :nth-child(1) > span {
  width: 90%;
  height: 2px;
  background-color: #717171;
}
.sect01 article > :nth-child(1) .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
@media only screen and (min-width: 800px) {
  .sect01 article > :nth-child(1) .cards {
    flex-direction: row;
    justify-content: space-between;
  }
}
.sect01 article > :nth-child(1) .cards .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1.5rem;
}
@media only screen and (min-width: 800px) {
  .sect01 article > :nth-child(1) .cards .card {
    width: 45%;
  }
}
.sect01 article > :nth-child(1) .cards .card > img {
  border-radius: 50%;
}
.sect01 article > :nth-child(1) .cards .card p {
  font-size: 0.9rem;
}
.sect01 article > :nth-child(1) .cards .card .moduloBoton01 {
  color: rgb(29, 29, 29);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.sect01 article > :nth-child(1) .cards .card .moduloBoton01:hover span {
  color: #d92222;
}
.sect01 article > :nth-child(1) .cards .card .moduloBoton01:hover img {
  filter: invert(36%) sepia(32%) saturate(2837%) hue-rotate(337deg) brightness(105%) contrast(65%);
}
.sect01 article > :nth-child(1) .cards .card .moduloBoton01 > span {
  letter-spacing: 2px;
}
.sect01 article > :nth-child(1) .cards .card .moduloBoton01 > img {
  width: 13px;
  transform: translateY(1.5px);
}
.sect01 article > :nth-child(1) .cards .card .moduloBoton01 > span, .sect01 article > :nth-child(1) .cards .card .moduloBoton01 > img {
  transition: 0.3s;
}
.sect01 article > :nth-child(2) {
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
  height: 40dvh;
  position: relative;
}
@media only screen and (min-width: 800px) {
  .sect01 article > :nth-child(2) {
    width: 48%;
    height: initial;
  }
}
.sect01 article > :nth-child(2) > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.moduloBoton01 {
  color: rgb(29, 29, 29);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.moduloBoton01:hover span {
  color: #d92222;
}
.moduloBoton01:hover img {
  filter: invert(36%) sepia(32%) saturate(2837%) hue-rotate(337deg) brightness(105%) contrast(65%);
}
.moduloBoton01 > span {
  letter-spacing: 2px;
}
.moduloBoton01 > img {
  width: 13px;
  transform: translateY(1.5px);
}
.moduloBoton01 > span, .moduloBoton01 > img {
  transition: 0.3s;
}

.moduloBoton02 {
  color: white;
  background-color: rgb(29, 29, 29);
  border-radius: 30px;
  padding: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.moduloBoton02:hover > img {
  transform: rotate(-45deg);
}
.moduloBoton02 > img {
  width: 40px;
  padding: 3px;
  padding-left: 0.5;
  background-color: white;
  border-radius: 30px;
}

header {
  background-image: url(../img/vistas/productos/productos-el-horno-de-hondarribia-1500.avif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@media only screen and (min-width: 800px) {
  header {
    background-image: url(../img/vistas/productos/productos-el-horno-de-hondarribia-1800.avif);
  }
}
@media only screen and (min-width: 1200px) {
  header {
    background-image: url(../img/vistas/productos/productos-el-horno-de-hondarribia-2560.avif);
  }
}/*# sourceMappingURL=productos-panaderia.css.map */